<a href="https://colab.research.google.com/github/jh981117/Study_Python/blob/main/021_%EB%B3%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수 (Variable)

In [ ]:
# 파이썬은 변수 선언시 특별한 키워드 없다!

In [ ]:
a = 10
a

10

In [ ]:
type(a)

int

In [ ]:
print("a값은", a, "입니다")

a값은 10 입니다

In [ ]:
b = 5
print(a+b)

15

In [ ]:
# print(c) # NameError

# 형변환 함수

int(), float(), str(), bool()...

In [ ]:
myName = "강동키"

In [ ]:
print("제 이름은", myName, "입니다")
print("제 이름은 " + myName + " 입니다")

제 이름은 강동키 입니다
제 이름은 강동키 입니다

In [ ]:
age = 10

In [ ]:
print(" 제 나이는", age, "살 입니다")
print(" 제 나이는 " + age +  " 살 입니다")  # 에러! str + int 연산 안됨!

 제 나이는 10 살 입니다

TypeError: can only concatenate str (not "int") to str

In [ ]:
# 형변환 함수 사용
print("제 나이는 " + str(age) + " 살 입니다") # 10 => "10"

제 나이는 10 살 입니다

In [ ]:
num = "100"

In [ ]:
# num + 2  # 에러
int(num) + 2 # "100" => 100

102

In [ ]:
#int('hello') # 형변환 불가능하면 에러

ValueError: invalid literal for int() with base 10: 'hello'

In [ ]:
int(3.14)

3

In [ ]:
float(10)

10.0

In [ ]:
myName = '강동키'
my_name = '동키동키'

In [ ]:
_name_ = '최징무'

In [ ]:
#$abc = 10 #Python은 $를 변수명으로 사용 불가 (JS, Java와 다름)

# del() 변수 삭제

In [ ]:
name= "서현기"
print(name, type(name))

서현기 <class 'str'>

In [ ]:
del(name)

In [ ]:
# name

NameError: name 'name' is not defined

# 여러변수 선언

In [ ]:
a = 10
b = 20
c = 30
print(a, b, c)

10 20 30

In [ ]:
a = 10; b = 10; c = 30
print(a, b, c)

10 10 30

In [ ]:
a, b, c = 100, 200, 300 # 훨씬 pythonic!
print(a, b, c)

100 200 300

In [ ]:
# Python은 ++, -- 없다

In [ ]:
# 변수값 증가/감소
a += 10
a = a + 10
print(a)

140

In [ ]:
# 변수 값 바꾸기
a = 11
b = 33
print(a, b)

11 33

In [ ]:
a, b = b, a
print(a, b)

33 11