<a href="https://colab.research.google.com/github/jh981117/Study_Python/blob/main/050_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 여러개의 데이터를 담는 집합 데이터 타입들..
#1. list   :  순서있다.  중복허용,  mutable
#2. tuple  :  순서있다,  중복허용,  immutable
#3. set : 순서없다,  중복허용안함
#4. dict : key, value 쌍으로 구성, 순서없다.

#List

In [ ]:
# list 는   [   ]  으로 만든다
# 데이터(원소) 들은 , 콤마로 구분한다
# 각 데이터(원소) 들은 어떠한 타입도 가능하다

In [ ]:
animals = ["dog", "cat", 'bird', 'fish']
print(animals)

['dog', 'cat', 'bird', 'fish']

In [ ]:
type(animals)

list

##index(인덱싱)

In [ ]:
animals[0]

'dog'

In [ ]:
type(animals[0])

str

In [ ]:
animals

['dog', 'cat', 'bird', 'fish']

In [ ]:
# animals[4]  # IndexError

In [ ]:
# 음수 인덱싱 가능!
animals[-1]

'fish'

## list는 mutable하다
원소 변경 가능

In [ ]:
print(animals)
animals[2] = 'mouse'
print(animals)

['dog', 'cat', 'bird', 'fish']
['dog', 'cat', 'mouse', 'fish']

In [ ]:
# len() 함수
len(animals)

4

## 슬라이싱 (slicing)
- 일부분 추출
- 범위연산자[:] 사용
- step 값 사용가능

In [ ]:
animals = ['dog', 'dog', 'cat', 'bird', 'fish']

In [ ]:
animals

['dog', 'dog', 'cat', 'bird', 'fish']

In [ ]:
animals[0:3]  # 0부터 3전까지

['dog', 'dog', 'cat']

In [ ]:
animals[1:4]

['dog', 'cat', 'bird']

In [ ]:
animals[:2]   # 처음부터 2 전까지

['dog', 'dog']

In [ ]:
animals[2:]   # 2부터 끝까지

['cat', 'bird', 'fish']

In [ ]:
animals[:]   # 전체범위

['dog', 'dog', 'cat', 'bird', 'fish']

In [ ]:
i = 2
animals[:i]

['dog', 'dog']

In [ ]:
# step 값
myList = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(myList[1:7])
print(myList[1:7:2])  # step 2 건너띄는 값
print(myList[3::3])
print(myList[::])
print(myList[::2])
print(myList[5:0])  # []
print(myList[5:0:-1])
print(myList[::-1])  # 역순!

[1, 2, 3, 4, 5, 6]
[1, 3, 5]
[3, 6, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]
[]
[5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# list 의 메소드

In [ ]:
# append() : 데이터 (원소) 추가, 리스트 뒤에!

In [ ]:
print(animals)
animals.append('tiger')  # 리턴값 None,   원본변화 (list 가 mutable)

['dog', 'dog', 'cat', 'bird', 'fish']

In [ ]:
animals

['dog', 'dog', 'cat', 'bird', 'fish', 'tiger']

In [ ]:
#del() 원소삭제

In [ ]:
animals

['dog', 'dog', 'cat', 'bird', 'fish', 'tiger']

In [ ]:
del(animals[1])

In [ ]:
animals

['dog', 'cat', 'bird', 'fish', 'tiger']

# list 연산 + , *

In [ ]:
animals = ["dog", "dog", "cat", "bird"]
colors = ["white", "blue", "red"]

# list + list => list

In [ ]:
animals + colors

['dog', 'dog', 'cat', 'bird', 'white', 'blue', 'red']

In [ ]:
animals * 2

['dog', 'dog', 'cat', 'bird', 'dog', 'dog', 'cat', 'bird']

# 다차원 리스트

In [ ]:
# 1차원 리스트
colors[0], colors[1]

('white', 'blue')

In [ ]:
data = [
    [1, 2, 3],
    [10, 20, 30],
    [40, 50, 60],
]

In [ ]:
len(data)

3

In [ ]:
data

[[1, 2, 3], [10, 20, 30], [40, 50, 60]]

In [ ]:
data[0]

[1, 2, 3]

In [ ]:
data[0][1]

2

In [ ]:
# data --> 2차원 list
# data[0] --> 1차원 list
# data[0][0] --> 0차원, scalar 값

# index 할때마다 차원감소 발생

In [ ]:
data = [
    [1, 2, 3, 4, 5],
    [10, 20, 30, 40, 50],
    [11, 22, 33, 44, 55]
]

In [ ]:
# [10, 20, 30]
data[1][:3]

[10, 20, 30]

In [ ]:
data[0:2]

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50]]

In [ ]:
data[::2]

[[1, 2, 3, 4, 5], [11, 22, 33, 44, 55]]

- iterable
- str, list, tuple, set, dict 는 모두 iterable 하다

---
# Assignment Unpacking
list 는 iterable 객체다

대입연산자와 iterable 을 사용하여 여러 개의 변수에 대입 가능  (이를 Assignment unpacking 이라 함)

In [ ]:
a, b, c, d = 1, 2, 3, 4

In [ ]:
a, b, c, d = [1, 2, 3, 4]

In [ ]:
a, b, c, d

(1, 2, 3, 4)

In [ ]:
a, b, c = "최진무"

In [ ]:
a, b, c

('최', '진', '무')

In [ ]:
# starred expression 사용 하면 unpack 되는 값들보다 적은수의 변수들로도 받아낼수 있다.
a, *b, c = [1, 2, 3, 4]

In [ ]:
a, b, c

(1, [2, 3], 4)

In [ ]:
a, b, *c = [1, 2, 3, 4]
a, b, c

(1, 2, [3, 4])

In [ ]:
# a, *b, *c = [1, 2, 3, 4]   # 복수개의 starred expression 은 앙되요.

In [ ]:
_, a, _, b = [1, 2, 3, 4]
a, b

(2, 4)

In [ ]:
# walrus 연산자 사용  (Python 3.8 이상)
my_list = [a:=3, b:=5, c:=7, d:=9]
print(my_list)
print(a)
print(b)
print(c)
print(d)

[3, 5, 7, 9]
3
5
7
9

# list 에 데이터 삽입하기

In [ ]:
# 방법1 slice 사용

In [ ]:
animals = ["dog", "dog", "cat", "bird"]
# cat 의 위치에 ["shark", "fish"] 추가 하여 ['dog', 'dog', 'shark', 'fish', 'bird']  ← 이렇게 만들고 싶다면?

In [ ]:
animals[2] = ["shark", "fish"]
animals

['dog', 'dog', ['shark', 'fish'], 'bird']

In [ ]:
animals = ["dog", "dog", "cat", "bird"]
# slicing 의 결과에 '대입' 가능!
animals[2:3] = ['shark', 'fish']  # cat 위치에 shark 와 fish 삽입
animals

['dog', 'dog', 'shark', 'fish', 'bird']

In [ ]:
animals = ["dog", "dog", "cat", "bird"]
# cat, bird 의 위치에 shark, fish 삽입 해보기 (slicing 사용)
animals[2:4] = ['shark', 'fish']
animals

['dog', 'dog', 'shark', 'fish']

In [ ]:
# 방법2  .insert() 사용

In [ ]:
fruits = ["Apple", "Banana", "Orange"]
fruits.insert(0, "Lemon")

In [ ]:
fruits

['Lemon', 'Apple', 'Banana', 'Orange']

# .index(value) : 값으로 인덱스 찾기

In [ ]:
fruits.index("Apple")

1

In [ ]:
# fruits.index("최진무")  # 없는 원소 찾으면 ValueError

# .remove(value)  특정 데이터 삭제

In [ ]:
fruits

['Lemon', 'Apple', 'Banana', 'Orange']

In [ ]:
fruits.remove('Banana')

In [ ]:
fruits

['Lemon', 'Apple', 'Orange']

# pop()
리스트 맨 뒤의 원소 제거하여 리턴 (원본변화)

In [ ]:
animals

['dog', 'dog', 'shark', 'fish']

In [ ]:
animals.pop()  # 맨 마지막 값을 빼내어 리턴

'fish'

In [ ]:
animals  # 원본 변화되어 있다!

['dog', 'dog', 'shark']

In [ ]:
#  리스트의 중간 원소를 pop 할수 있다
animals = ['dog', 'shark', 'cat', 'bird']
animals.pop(1)

'shark'

In [ ]:
animals

['dog', 'cat', 'bird']

# .sort() 와 .reverse()

In [ ]:
animals

['dog', 'cat', 'bird']

In [ ]:
animals.sort()

In [ ]:
animals

['bird', 'cat', 'dog']

In [ ]:
animals.sort(reverse=True)
animals

['dog', 'cat', 'bird']

# .reverse()

In [ ]:
animals[::-1]  # 원본 변경 안됨

['bird', 'cat', 'dog']

In [ ]:
animals

['dog', 'cat', 'bird']

In [ ]:
animals.reverse()  # 원본 변경

In [ ]:
animals

['bird', 'cat', 'dog']

# sorted() 함수

In [ ]:
# sorted(iterable, key=key, reverse=reverse)
#    iterable : sort 대상 (list, dict, tuple 등..)
#   key : 대소비교를 하는 함수 (디폴트 None)
#   reverse : False 오름차순 (디폴트), True 내림차순

# 리턴값 : 정렬된 list

In [ ]:
a = ["b", "g", "a", "d", "f", "c", "h", "e"]
sorted(a)  # 결과는 list, 원본 변경 안함.

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
a

['b', 'g', 'a', 'd', 'f', 'c', 'h', 'e']

# list 와 **in 연산자**

In [ ]:
a

['b', 'g', 'a', 'd', 'f', 'c', 'h', 'e']

In [ ]:
'f' in a

True

In [ ]:
'최진무' in a

False

In [ ]:
'f' not in a

False

# str 의 index, slice, in
- str 도 iterable 객체다
- str 은 immutable 객체다

In [ ]:
# 문자열 인덱싱
str2 = "hello python"

print(str2[0])
print(str2[1])
print(str2[11])
# print(str2[12])  # index error

print(str2[-1])
print(str2[-4])

print(str2[::2])
print(str2[-1::-2])
print(str2[::-1])

h
e
n
n
t
hlopto
nhy le
nohtyp olleh

In [ ]:
"t" in str2

True

In [ ]:
"Py" in str2

False

In [ ]:
str2

'hello python'

In [ ]:
sorted(str2)

[' ', 'e', 'h', 'h', 'l', 'l', 'n', 'o', 'o', 'p', 't', 'y']

In [ ]:
# str 은 immutable 하다!!!!
# str2[0] = 'K'

# list  와 str

In [ ]:
# str.join() :  list -> 하나의 str

In [ ]:
animals = ["dog", "shark", "cat", "bird"]
result = "-".join(animals)
result

'dog-shark-cat-bird'

In [ ]:
# str.split() : str -> list 로 쪼갬

In [ ]:
result.split("-")

['dog', 'shark', 'cat', 'bird']

In [ ]:
myStr = "Hello Python 2024"

In [ ]:
# split() 에 매개변수 없이 사용하면 공백 기준으로 문자열 쪼개짐
# 공백 : 띄어쓰기, 탭, 줄바꿈...
myStr.split()

['Hello', 'Python', '2024']

In [ ]:
myStr2 = "    Hello    Python \t\n 2024   \t  "
print(myStr2)

    Hello    Python
 2024

In [ ]:
myStr2.split()

['Hello', 'Python', '2024']

In [ ]:
# list(iterable) -> list

In [ ]:
myStr3 = "장고운"
list(myStr3)

['장', '고', '운']

## 도전

In [ ]:
# 문자열1 - 자가진단4

# 문자열을 입력받고 정수를 입력 받아서 문자열의 맨 뒤부터 정수만큼 출력하는 프로그램을 작성하시오.
#  만약 입력받은 정수가 문자열의 길이보다 크다면 맨 뒤부터 맨 처음까지 모두 출력한다.
# (문자열 길이는 최대 100자 이하이다. )



# 입력 예
# korea 3

# 출력 예
# aer

In [ ]:
input_str, N = input().split()
input_str[len(input_str) - 1 : len(input_str) - 1 - int(N) : -1]

abcde 8

'edc'

In [ ]:
str, n = input().split()
str[-1 : -(int(n) + 1) : -1]

korea 3

'aer'