<a href="https://colab.research.google.com/github/jh981117/Study_Python/blob/main/051_tuple%26set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# tuple
# 콤마 , 로 구분된 집합 데이터 타입

In [ ]:
animals = ("dog", "dog", "cat", "bird")

In [ ]:
animals

('dog', 'dog', 'cat', 'bird')

In [ ]:
type(animals)

tuple

In [ ]:
student = "최진무", "찜무", "이종원", "서현기"

type(student)

tuple

In [ ]:
# 원소 한개짜리 tuple 을 만드려면?
animals = ("dog",)

print(type(animals), animals, len(animals))

<class 'tuple'> ('dog',) 1

In [ ]:
animals = '강동키',
type(animals)

tuple

In [ ]:
# index, slice 가능

In [ ]:
student[1:3]

('찜무', '이종원')

In [ ]:
# tuple은 immutable 하다! <- 원소 값 변경 불가
# student[1] = '치킨무'

In [ ]:
# student.append("쏭승현") # 따라서 내용 변경하는 동작 정의되어 있지 않음.

In [ ]:
animals + student

('강동키', '최진무', '찜무', '이종원', '서현기')

In [ ]:
student * 3

('최진무',
 '찜무',
 '이종원',
 '서현기',
 '최진무',
 '찜무',
 '이종원',
 '서현기',
 '최진무',
 '찜무',
 '이종원',
 '서현기')

In [ ]:
# tuple 은 언제 사용하나?
# 1. 주로 변경되지 말아야 할 데이터들
# 2. 복수의 값 '전달' 목적으로.

In [ ]:
# 사각형의 weight, height 값
rec = [100, 200]
print(rec[0], rec[1])

weight = rec[0]
height = rec[1]
print(weight,height)

100 200
100 200

In [ ]:
width, height = (100, 200)
print (weight, height)

100 200

In [ ]:
# 나눗셈 결과의 '몫' 과 '나머지'
divmod(5, 2)

print(f'몫 {quotient}, 나머지 {reamin}')

(2, 1)

# set

In [ ]:
# set
# 만드는 방법
# 1.set()  함수로 만들수도 있고
# 2. {  } 으로 만들수도 있다.

#1. list   :  순서있다.  중복허용,  mutable
#2. tuple  :  순서있다,  중복허용,  immutable
#3. set : 순서없다,  중복허용안함
#4. dict : key, value 쌍으로 구성, 순서없다.

In [ ]:
animals = {"dog", "cat", "bird", "cat", "dog", "강동키"}

print(animals, type(animals), len(animals))

{'cat', 'dog', 'bird', '강동키'} <class 'set'> 4

In [ ]:
# abunaks[0] # 인덱스 사용 불가! not subscriptable

In [ ]:
str1 = "aaaabbbbbcccccaaabb"
print(list(str1))
print(tuple(str1))
print(set(str1))

['a', 'a', 'a', 'a', 'b', 'b', 'b', 'b', 'b', 'c', 'c', 'c', 'c', 'c', 'a', 'a', 'a', 'b', 'b']
('a', 'a', 'a', 'a', 'b', 'b', 'b', 'b', 'b', 'c', 'c', 'c', 'c', 'c', 'a', 'a', 'a', 'b', 'b')
{'a', 'c', 'b'}

In [ ]:
animals = ["진무", "진무", "찜무", "짬무"]
# 위 list 에서 중복된 데이터를 제거하고 싶다면?

list(set(animals))

['찜무', '짬무', '진무']

In [ ]:
# empty set
a = {}
a = set()

a, type(a), len(a)

(set(), set, 0)

In [ ]:
# add(), remove()
# 추가, 삭제

In [ ]:
a.add('dog')
a

{'dog'}

In [ ]:
a.add('cat')
a

{'cat', 'dog'}

In [ ]:
a.remove('cat')
a

{'dog'}