<a href="https://colab.research.google.com/github/jh981117/Study_Python/blob/main/052_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# dict : 딕셔너리

# dictionary 데이터 타입은  key-value 쌍으로 저장되는 데이터 집합이다.

# {Key1:Value1, Key2:Value2, Key3:Value3 ...}
# "이름" = "홍길동", "생일" = "몇 월 몇 일"   과 같은 자료형 담음

# 기존의 list, tuple 등은 value 중심
# 그러나 이 또한 알고 보면 key-value 쌍으로 구성

# 순서는 고정이 안된다
# key 는 중복 안된다.

In [ ]:
student = {
    "name": "최진무",
    "email": "choi@mail.com",
}

print(student)
print(type(student))
print(len(student))

{'name': '최진무', 'email': 'choi@mail.com'}
<class 'dict'>
2

In [ ]:
# value 접근
print(student['name'])  # 방법1
print(student.get('name'))  #방법2

최진무
최진무

In [ ]:
# 차이점: 존재하지 않는 key 로 접근하는 경우
# print(student['age']) # KeyError
print(student.get('age')) # None 리턴!

None

In [ ]:
# get()  을 사용하면 예외적인 상황에서도
# 동작 가능하게 처리 가능
# student.get(key, default) : key 값이 없으면 default 값으로 리턴

print(student.get('age', 20))

20

In [ ]:
# 수정하기
student['name'] = '서현기'
student

{'name': '서현기', 'email': 'choi@mail.com'}

In [ ]:
# 추가하기
student['address'] = '역삼동'
student

{'name': '서현기', 'email': 'choi@mail.com', 'address': '역삼동'}

In [ ]:
# 삭제하기
del(student['email'])
student

{'name': '서현기', 'address': '역삼동'}

### dict.update()
해당 key값 업데이트<br>
해당 key 가 없으면 새로이 추가

In [ ]:
student

{'name': '서현기', 'address': '역삼동'}

In [ ]:
student.update({"name": "허지우"})

In [ ]:
student

{'name': '허지우', 'address': '역삼동'}

In [ ]:
student.update({'age': 13, 'address':'논현동'})
student

{'name': '허지우', 'address': '논현동', 'age': 13}

## key, value 의 타입
- **value** 는 어떠한 타입이라도 가능!
- **key** 는 hash 가능한 타입만 가능!   (ex: int, float, str, bool..)

In [ ]:
dict1 = {
    1 : "최찜무",
    1 : "진무",
    1 : "갓물주",
    2 : "도라미",
    3 : "장고운",
    "two": {
        3.14: "pi",
        "pi": 3.14,
    },
    False: [10, 20, 30],
}

dict1

{1: '갓물주',
 2: '도라미',
 3: '장고운',
 'two': {3.14: 'pi', 'pi': 3.14},
 False: [10, 20, 30]}

In [ ]:
len(dict1)

5

In [ ]:
dict1["two"][3.14]

'pi'

In [ ]:
dict1[False][2]

30

In [ ]:
# dict.keys(), dict.values()
student = {
        "name":"최현진",
        "email":"choi@mail.com",
        "age": 23,
        "addr" : "서울"
        }

In [ ]:
student.keys()  # key 들로만 구성된 iterable 객체 리턴됨

dict_keys(['name', 'email', 'age', 'addr'])

In [ ]:
student.values()  # value 들로만 구성된 iterable 객체 리턴됨

dict_values(['최현진', 'choi@mail.com', 23, '서울'])

In [ ]:
set(student.keys())

{'addr', 'age', 'email', 'name'}

In [ ]:
set(student)  # dict 자체도 iterable 하다. key 들이 나온다

{'addr', 'age', 'email', 'name'}

In [ ]:
# dict 의 in 연산자
# key 의 존재여부

"name" in student

True

In [ ]:
"최진무" in student

False

# Empty data

In [ ]:
# 비어있는 데이터
a = []  # list
a = ""  # str
a = ()  # tuple
a = {}  # dict
a = set() # set

type(a), len(a)

(set, 0)

## items()

(key, value) 쌍으로 이루어진 iterable 객체 리턴

In [ ]:
dict_A = {"b": 5, "c": 3, "a": 2}
dict_A

{'b': 5, 'c': 3, 'a': 2}

In [ ]:
dict_A.items()

dict_items([('b', 5), ('c', 3), ('a', 2)])

In [ ]:
result = list(dict_A.items())
result

[('b', 5), ('c', 3), ('a', 2)]

In [ ]:
result[0][0]

'b'

In [ ]:
result[0][1]

5

## dict 정렬하여 출력하기
기본적으로 dict 는 '순서' 가 없다
- key 로 정렬하여 출력
- value 로 정렬하여 출력

In [ ]:
sorted(dict_A.items())  # key 오름 차순 정렬

[('a', 2), ('b', 5), ('c', 3)]

In [ ]:
# value 오름 차순으로 정렬
dict_items = dict_A.items()
sorted(dict_items, key=lambda x: x[1])

[('a', 2), ('c', 3), ('b', 5)]

In [ ]:
# value 내림 차순으로 정렬
dict_items = dict_A.items()
sorted(dict_items, key=lambda x: x[1], reverse=True)

[('b', 5), ('c', 3), ('a', 2)]

#파이썬의 기본 데이터 타입들 (정리)

In [ ]:
# 	파이썬의 데이터타입들 (Datatype, 자료형)

# 	1. 정수형 : int			ex) 10, 2, 512, 256 ...
# 	2. 실수형 : float		ex) 3.14   100.0  -234.3455 ...
# 	3. 문자열 : str			ex) "Hello"  '한국'   ...
# 	4. 부울 : bool			ex) True  , False
# 	5. 리스트 : list			ex) []  [10, 20]   ['Abc', 'ddd', 'ccc']
# 	6. 튜플 : tuple			ex) ()   (10, 20)  ('aaa', 'bbb', 'ccc')
# 	7. 딕셔너리 : dictionary  ex) {}   {'name':'pey', 'age': 10]
#   8. 세트 : set             ex) {}   {10, 20, 30}
# 	9. None