<a href="https://colab.research.google.com/github/jh981117/Study_Python/blob/main/060_%EC%A1%B0%EA%B1%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 제어문 (Control)
#     프로그램의 기본 흐름 변경
#   1. 조건문 Conditional
#       - if

#   2. 순환문 Loop
#       - for, while

#조건문 (Conditional)

In [ ]:
# 조건문 (if ~ elif ~ else)


# if 조건식:
#    참일때 수행 구문 블록  (블록이란 문장들의 집합)


# if 조건식:
#    참일때 수행 구문 블록
# else:
#    거짓일때 수행 구문 블록


# if 조건식1:
#    조건식1 참일때 수행 구문 블록
# elif 조건식2:
#    조건식2 참일때 수행 구문 블록
# elif 조건식3:
#    조건식3 참일때 수행 구문 블록
# else:
#    어떤 조건식도 거짓일때 수행 구문 블록


# 각 블록은 반드시 동일한 인덴트로 작성되어야 한다

# 조건식에는 비교연산자와 논리연산자 등을 잘 활용해야 한다
# 비교연산자 <, >, ==, !=, >=, <=
# 논리연산자 and, or, not

In [ ]:
a = 10

if a > 0:
  print("변수a값은")
  print(a, '는 양수입니다')

print('종료')

변수a값은
10 는 양수입니다
종료

In [ ]:
a = -3

if a % 2 ==0:
  print('짝수입니다')
  print('짝수입니다')
else:
    print('홀수입니다')
    print('홀수입니다')

홀수입니다
홀수입니다

In [ ]:
a = 10

if a > 0:
  print("양수")
elif a == 0:
  print('0 입니다')
else:
  print('음수')

양수

In [ ]:
# 중첩 if 문
n = 4

if n % 2 == 0:
  print('짝수입니다')
  if n % 6 == 0:
    print('6의 배수입니다')
  else:
    print('짝수이지만 6의 배수는 아닙니다')

짝수입니다
짝수이지만 6의 배수는 아닙니다

#비교연산자, 논리연산자

In [ ]:
# 조건식에 사용가능한 비교연산자, 논리연산자
# 비교연산자 : >, >=, <, <=, !=, ==
# 논리연산자 : and, or, not, ^ (xor)
# 위 연산자들의 결과값은 항상 True / False
#      and : 둘다 '참' 일때 '참'
#      or : 둘중 하나만 '참' 이면 '참'
#      not : 참 -> 거짓, 거짓 -> 참
#      ^ : eXclusive OR (XOR, 배타적 논리합)
#          같으면 거짓, 다르면 참

In [ ]:
d = 10

In [ ]:
d > 2

True

In [ ]:
d % 2 == 0 and d % 3 == 0

False

# 비교연산자는 임의로 chaining 된다

In [ ]:
# score 는 0 ~ 100 사이의 값이어야 한다면?
score = 93

if 0 <= score and score <= 100:
  print(score, '는 유효한 점수입니다')
else:
  print(score, '는 유효한 점수가 아닙니다')

93 는 유효한 점수입니다

In [ ]:
# 파이썬에선 범위값 표현을 a <= x <= b 와 같이 표현 가능
score = 93

if 0 <= score <= 100:  #  => 0 <= score and score <= 100
  print(score, '는 유효한 점수입니다')
else:
  print(score, '는 유효한 점수가 아닙니다')

93 는 유효한 점수입니다

In [ ]:
# java, javascript 등에서는
# false == true == false 의 결과는 true 였다...
# 그런데...

print(False == True == False)  # => False == True and True == False <- 이와 같이 chaining 되기때문..

False

# 조건식의 '참', '거짓' 판정

In [ ]:
# 조건식의 참 / 거짓 판정

# 조건문,  순환문 등에 사용되는  '조건식' 은 참, 거짓이 판정되어야 하는데
# 파이썬에서는 bool 타입 외에도 조건식에서 참, 거짓 판정이 된다.

#               │     참     │   거짓
# ───────────────────
# bool 타입 :     True         False
# 숫자 타입 :      0 아닌 숫자      0
# str  타입 :      "abc"        ""   빈문자열
# list 타입 :    [1, 2, 3]      []
# tuple 타입 :   (1, 2, 3)      ()
# dict 타입 :    {"name":"john"}    {}

# None 타입 :   무조건 거짓

In [ ]:
result = 10
result = 0
result = 0.0
result = "abc"
result = " "
result = ''
result = not ''
result = [1, 2, 3]
result = []
result = (1, 2)
result = ()
result = (0)

if result:
    print("참", type(result), result)
else:
    print("거짓", type(result), result)

거짓 <class 'int'> 0

In [ ]:
not '최진무'

False

# SCE : Short-circuit Evaluation

In [ ]:
#논리 연산자 and, or 표현식과의 관계
#참, 거짓 판정에 이어 논리연산자의 결과는
# expression 값이 된다.
# 이를 short-circuit evalutaiton (SCE) 혹은
# lazy evalutation 이라 한다

# or
# 왼쪽이 참인 경우 '왼쪽' 수행결과값 리턴
# 왼쪽이 거짓인 경우 '오른쪽' 수행결과값 리턴

# and
# 왼쪽이 참인 경우 '오른쪽' 수행결과값 리턴
# 왼쪽이 거짓인 경우 '왼쪽' 수행결과값 리턴

In [ ]:
result = True or False
result = True and False

result = 0 or 100
result = "Hello" or "Python"
result = "Hello" and "Python"

if result:
    print("참", type(result), result)
else:
    print("거짓", type(result), result)

참 <class 'str'> Python

In [ ]:
n = 10
(n % 5 == 0) and print(n, '은 5의 배수입니다')

10 은 5의 배수입니다

In [ ]:
print(print('이기원'))

이기원
None

In [ ]:
print('AAA') and print('BBB')

AAA

In [ ]:
#list에 원소를 더하고, 더한 list를 리턴하려면?  (append는 none을 리턴)
data = [10, 20, 30]

data.append(40) or data

[10, 20, 30, 40]

In [ ]:
# dict 에 k-v 추가하고, 더한 dict 를 리턴하려면?  (update는 none을 리턴)
data = {'name': '이기원'}

data.update({'age': 30}) or data

{'name': '이기원', 'age': 30}

# is 연산

타입 확인

In [ ]:
# 명심: 파이썬의 모든 타입은 결국 객체다.
# 즉, 특정 변수나 값이 어떤 타입(어떤 객체)인지 확인하여 True / False 판별하는 키워드 is

In [ ]:
a = 10
type(a) is int

True

In [ ]:
a = [10, 20, 30]
type(a) is tuple

False

# pass 키워드
아무것도 안하는 블럭에는 꼭 명시!

In [ ]:
a

[10, 20, 30]

In [ ]:
if 10 in a:
  pass   # 아무것도 안하는 블럭이라면 pass 를 명시해야만 한다
else:
    print('없어요')

# 블럭 수행구문이 한문장이면

(클론) 다음에 한줄로 작성가능

In [ ]:
if 10 in a: print("있습니다")

있습니다

# Conditional Expression

구문 `(참일때의 값) if (조건식) else (거짓일때의 값)`

In [ ]:
n = -3

"양수" if n > 0 else "0 혹은 음수"

'0 혹은 음수'

In [ ]:
n =0
"양수" if n>0 else ("음수" if n<0 else "0")

'0'