<a href="https://colab.research.google.com/github/jh981117/Study_Python/blob/main/070_%EC%88%9C%ED%99%98%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# while, for

# while 순환문

In [ ]:
# while 순환문 구조,  조건문이 '참' 인 동안 수행문장을 반복수행

# while <조건문>:
#     <수행할 문장1>
#     <수행할 문장2>
#     <수행할 문장3>
#     ...
# else:
#      순환문 빠져나오기 전에 수행  (가독성측면에서 사용권장 x)

In [ ]:
num =0

while num < 5:
  print(num)
  num = num + 1

else:
  print('while 종료전 num =', num)
print('종료')

0
1
2
3
4
while 종료전 num = 5
종료

In [ ]:
from __future__ import print_function
# 구구단 출력 : 2단 ~ 9단
# 중첩된 for 문

'''
2 x 1 = 2
2 x 2 = 4
...
2 x 9 = 18
3 x 1 = 3
...
4 x 1 = 4
…
...
9 x 9 = 81
'''

num = 2
i = 1
while num < 9 + 1:
    while i < 9 + 1:
        print(f"{num} x {i} = {num * i}")
        i += 1
    i = 1
    num += 1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

# break, continue

In [ ]:
n = 1
while True: # 무한루프
  print(n, end = ' ')
  if n == 100: break
  n += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
n = 0
while True: # 무한루프
  n += 1
  if n %  2 == 0: continue
  print(n, end = ' ')
  break # -> 이거 없으면 계속돌아감

1

#for 순환문

In [ ]:
# for 순환문
# 기존의 다른 프로그래밍 언어의 for 문에 비해 파이썬은 매우 직관적이고 사용하기 편리

# 구문]
# for 변수 in iterable객체:
#     수행할 문장1
#     수행할 문장2
#     ....
# else:
#      순환문 빠져나오기 전에 수행

# iterable한 객체들 => range(숫자), str, list, set, tuple, dict ...

In [ ]:
range(3) # 0, 1, 2 의 숫자가 담긴 iterable 객체 생성

range(0, 3)

In [ ]:
list(range(3))

[0, 1, 2]

In [ ]:
list(range(4,8)) # 4, 5, 6, 7

[4, 5, 6, 7]

In [ ]:
for i in range(3):
  print('hello 진무', i)

hello 진무 0
hello 진무 1
hello 진무 2

In [ ]:
for i in range(4, 15, 3): # 3번째 매개변수는 step값 4, 7, 10, 13
 print(i)

4
7
10
13

In [ ]:
for i in range(10, 0 ,-2): # 10 8 6 4 2
  print(i)

10
8
6
4
2

In [ ]:
for i in range(2,10):
  for x in range(1,10):
   print(f"{i} x {x} = {i*x}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
animals = ["dog", "cat", "bird", "puppy", "kitty"]

In [ ]:
for animal in animals:
  print("진무 love", animal)

진무 love dog
진무 love cat
진무 love bird
진무 love puppy
진무 love kitty

In [ ]:
for ch in "Hello 진무": # String: iterable
  print(ch, end = ', ') # end = ', ' => 줄바꿈 x

H, e, l, l, o,  , 진, 무,

In [ ]:
myDict = {'name': '최진무', 'age': 24, 'grade': 4}
myDict

{'name': '최진무', 'age': 24, 'grade': 4}

In [ ]:
for key in myDict:
  print(key, ':', myDict[key])    # key : key 값, myDict[key]: key값에 해당하는 value값

name : 최진무
age : 24
grade : 4

In [ ]:
myDict.items() # => k-v 로 구성된 iterable 객체

dict_items([('name', '최진무'), ('age', 24), ('grade', 4)])

In [ ]:
for item in myDict.items():  # item => 여기서는 tuple
  print(item[0], ':', item[1])

name : 최진무
age : 24
grade : 4

In [ ]:
for key, value in myDict.items():  # tuple 이기 떄문에 key, value로 받을수있음
  print(key, ':', value)

name : 최진무
age : 24
grade : 4