<a href="https://colab.research.google.com/github/jh981117/Study_Python/blob/main/080_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수 (Function)

In [ ]:
# 함수 만들기 (함수 정의 : Function Definition)

# def 키워드로 작성

# def 함수이름( 매개변수 들):
#     함수 본체 <수행할 문장1>
#     함수 본체 <수행할 문장2>
#     ...

# 함수의 동작 정의
#   입력(매개변수) -> 본체 수행 -> 결과(리턴)

# 함수이름은 변수 이름 작성과 거의 동일한 규칙

#----------------------------------------------------------
# 함수 호출 (함수 사용 )  Function call, invoke
# 함수호출시 넘겨지는 인자(parameter) 값들은
# 함수의 매개변수(argument)들이 받습니다.
# 매개변수는 0개, 한개, 여러개 있을수 있을수 있습니다

# 함수에는 리턴값이 있다.
# 리턴값은 함수를 호출(call) 한쪽에 돌려준다
# return 키워드로 리턴값을
# 함수 본체 수행중 return 을 만나면 함수를 종료 하게 됩니다
# 어떠한 타입도 리턴할수 있다.
# 리턴값은 없을수도 있다. None 리턴

In [ ]:
def sayAnthem():
  print("동해물과 백두산이")
  print("마르고 닳도록")
  print("하느님이 보우하사")
  print("우리나라 만세")

In [ ]:
sayAnthem

In [ ]:
type(sayAnthem)

function

In [ ]:
# 호출
sayAnthem()

동해물과 백두산이
마르고 닳도록
하느님이 보우하사
우리나라 만세

In [ ]:
# 매개변수
def sayName(name):
  print('안녕하세요')
  print(f'제 이름은 {name} 입니다')

In [ ]:
sayName('최진무')

안녕하세요
제 이름은 최진무 입니다

In [ ]:
# sayName()
# TypeError: sayName() missing 1 required positional argument: 'name'

In [ ]:
def sayAge(age):
  print('제 나이는 용...')
  print(f'{age} 살입니다')

In [ ]:
sayAge(40)

제 나이는 용...
40 살입니다

In [ ]:
def sayHello(name, age):
  print("--"*10)
  sayName(name)
  sayAge(age)
  print("--"*10)

In [ ]:
sayHello("장고운", 34)

--------------------
안녕하세요
제 이름은 장고운 입니다
제 나이는 용...
34 살입니다
--------------------

In [ ]:
sayHello('장고운', 34)
sayHello('장고운', '만32')

--------------------
안녕하세요
제 이름은 장고운 입니다
제 나이는 용...
34 살입니다
--------------------
--------------------
안녕하세요
제 이름은 장고운 입니다
제 나이는 용...
만32 살입니다
--------------------

In [ ]:
sayHello(name = '도라미', age = 34)

--------------------
안녕하세요
제 이름은 도라미 입니다
제 나이는 용...
34 살입니다
--------------------

In [ ]:
sayHello('최진무', age = 28)

--------------------
안녕하세요
제 이름은 최진무 입니다
제 나이는 용...
28 살입니다
--------------------

In [ ]:
# sayHello(age = 28, '최진무')  # positional argument follows keyword argument

    # '호출' 시 keyword argument 뒤에 positional argument 붙을수 없다
    # positional argument : 호출시 값만 명시
    # keyword argument : 호출시 이름=값 명시

In [ ]:
# return

def add(a,b):
  result = a + b
  return result

In [ ]:
add(10, 20)

30

In [ ]:
add('10', '20')

'1020'

In [ ]:
add([10], [20])

[10, 20]

In [ ]:
#add('10', 20)   # can only concatenate str (not "int") to str

# tuple 을 리턴하기
여러개의 값을 리턴할수 있다

In [ ]:
def sum_and_mul(a,b):
  return a + b, a * b

In [ ]:
s, m = sum_and_mul(10, 20)
print(s, m)

30 200

# 디폴트 매개변수 (Default parameter)

In [ ]:
# 함수정의시 매개변수에 디폴트 값을 지정해 주면,  호출시 생략가능하다
# 생략된 상태에서 호출되면 디폴트 값으로 작동된다

# 디폴트 매개변수 작성 구문
#    def 함수명(매개변수명=디폴트값)

In [ ]:
def say_myself(name, old, gender='M'):
  print(f'제 이름은 {name} 입니다')
  print(f'제 나이는 {old} 입니다')

  (gender == 'M') and print('남자입니다')
  (gender == 'F') and print('여자입니다')
  print()

In [ ]:
say_myself('서현기', 31, 'M')

제 이름은 서현기 입니다
제 나이는 31 입니다
남자입니다

In [ ]:
say_myself('임승빈', 29)

제 이름은 임승빈 입니다
제 나이는 29 입니다
남자입니다

In [ ]:
print('hello')
print('hello', end='\n')
print(10, 20, 30, sep=' ')

hello
hello
10 20 30

In [ ]:
# 디폴트 매개변수, 주의 사항
# 디폴트 매개변수 사용하여 함수 정의시
# default argument  다음에 non-default  argument 정의 불가!!

# def say_myself2(name, adult=True, age):
#   pass

# 가변매개변수 *args
### argument packing
입력값이 몇개가 올른지 모른다, 임의의 개수 인자 받기

In [ ]:
# 가변매개변수(various arguments) 함수 구문

# def 함수이름(*매개변수):
#     <수행할 문장>
#     ...

# 함수 호출시 전달된 복수개의 매개변수는 하나의 tuple 의 형태로 묶여서(packing) 다루어진다
# 가변 매개변수도 어떠한 이름으로도 가능하긴 하나  관례적으로 args 를 많이 사용한다

In [ ]:
def var_args(*args):
  print(type(args), ":", len(args), ":", args)

var_args(10)
var_args(10, 20, 30)
var_args()

<class 'tuple'> : 1 : (10,)
<class 'tuple'> : 3 : (10, 20, 30)
<class 'tuple'> : 0 : ()

In [ ]:
# *a = 10, 20, 30

In [ ]:
# 다른 비가변 매개변수와 가변매개변수 혼합 사용 가능
# 그러나, 가변매개변수는 뒤에 오는 것을 추천한다

def sum_mul(oper, *args):
  result = None

  if oper == 'sum':
    result = 0
    for i in args:
      result += i

  elif oper == 'mul':
    result = 1
    for i in args:
      result *= i

  return result

In [ ]:
print(sum_mul("sum",10, 20, 30))
print(sum_mul("mul",10, 20, 30))

60
6000

In [ ]:
def sum_mul(*args, oper):
  result = None

  if oper == 'sum':
    result = 0
    for i in args:
      result += i

  elif oper == 'mul':
    result = 1
    for i in args:
      result *= i

  return result

In [ ]:
# print(sum_mul("sum",10, 20, 30))
print(sum_mul(10, 20, 30, oper='sum'))

60

# 가변매개변수 **kwargs

키워드 매개변수

In [ ]:
# kwargs : keyword argument 약자

# 함수호출시 함수의 인수로 key = value 형태로 주어지면
# 함수에선 kwargs 가 dict 형태로 packing 하여 받아옴

In [ ]:
def func(**kwargs):
  print(type(kwargs),len(kwargs), kwargs)

In [ ]:
# func('최진무')

func(name = '최진무')
func(name = '최진무', age = 30)

<class 'dict'> 1 {'name': '최진무'}
<class 'dict'> 2 {'name': '최진무', 'age': 30}

In [ ]:
# *args, **kwargs 혼용 가능

In [ ]:
def func2(*args, **kwargs):
  print(args, kwargs)

func2(1, 2, 3, name='최진무',age = 28)
# func2(1, 2, 3, name='최진무',age = 28, 5, 6)

(1, 2, 3) {'name': '최진무', 'age': 28}

# packing & unpacking

In [ ]:
# * 의 의미

In [ ]:
# 1. 함수 정의 시점에서의 *

In [ ]:
def hello(*args):
  print(args)

hello(10)  # tuple 로 packing 되어 전달
hello(10, 20)
hello(10, 20, 30)

(10,)
(10, 20)
(10, 20, 30)

In [ ]:
# 2. 함수 호출 시점에서의 *

In [ ]:
def add_numbers(a, b, c):
  return a + b + c

In [ ]:
add_numbers(100, 200, 300)

600

In [ ]:
data = (100, 200, 300)
# add_numbers(data)
add_numbers(data[0], data[1], data[2])

600

In [ ]:
add_numbers(*data)  # 호출시점의 *  unpacking 발생

600

In [ ]:
add_numbers(*"ABC")  # "A", "B", "C"

'ABC'

In [ ]:
student = {"name": "Sam", "email": "sam@mail.com"}

def print_dict(name, email):
    print(name, email)

In [ ]:
print_dict('최진무', 'jinmoo@mail.com')
# print_dict(student) # 에러
print_dict(*student)  # dict 를 * 로 unpacking 하면 key 들이 전달
print_dict(**student) # dict 를 ** 로 unpacking 하면 value 들이 전달

최진무 jinmoo@mail.com
name email
Sam sam@mail.com

In [ ]:
# print() 와 동일한 동작을 하는 log() 함수 정의

In [ ]:
def log(*args):
  print(*args)

In [ ]:
log(10, 20, 30)

10 20 30

In [ ]:
log('최', '진', '무')

최 진 무

In [ ]:
# log('최', '진', '무', sep='--')

In [ ]:
def log(*args, **kwargs):
  print(*args, **kwargs)

In [ ]:
log('최', '진', '무', sep='--')

최--진--무

# 파이썬의 내장함수 (Built-in Functions)
별도의 import 없이 바로 사용가능한 함수들

In [ ]:
# 파이썬의 내장함수( built-in functions)
# 별도의 import 없이 바로 사용 가능한 함수들.

# 레퍼런스 :  https://docs.python.org/3/library/functions.html

# abs()	dict()	help()	min()	setattr()
# all()	dir()	hex()	next()	slice()
# any()	divmod()	id()	object()	sorted()
# ascii()	enumerate()	input()	oct()	staticmethod()
# bin()	eval()	int()	open()	str()
# bool()	exec()	isinstance()	ord()	sum()
# bytearray()	filter()	issubclass()	pow()	super()
# bytes()	float()	iter()	print()	tuple()
# callable()	format()	len()	property()	type()
# chr()	frozenset()	list()	range()	vars()
# classmethod()	getattr()	locals()	repr()	zip()
# compile()	globals()	map()	reversed()	__import__()
# complex()	hasattr()	max()	round()
# delattr()	hash()	memoryview()	set()

In [ ]:
abs(-111)

111

In [ ]:
data = [10, 20, 30, 40]

In [ ]:
min(data), max(data), sum(data)

(10, 40, 100)

In [ ]:
type(sum)

builtin_function_or_method

## 실수로 내장함수를 덮어쓰기 한경우

In [ ]:
sum = 10 + 20

In [ ]:
# sum(data)

In [ ]:
# 내장함수 복원
sum = __builtins__.sum

In [ ]:
sum(data)

100

## 외장함수

In [ ]:
# 파이썬 설치시 '기본적'으로 설치된 라이브러리로부터 사용 가능한 함수들

# 라이브러리(library) 란 파이썬 프로그래밍에 사용가능한 프로그램을을 모아놓은 것.

# https://docs.python.org/3/library/index.html    <-- Python Standard Library

### time 모듈

In [ ]:
import time

In [ ]:
time.time()   # 1970.1.1 00:00:00 초 기준으로 경과한 시간 (초)   타임스탬프(time stamp) 라고도 한다

1709623795.249352

In [ ]:
time.localtime()

time.struct_time(tm_year=2024, tm_mon=3, tm_mday=5, tm_hour=7, tm_min=29, tm_sec=55, tm_wday=1, tm_yday=65, tm_isdst=0)

In [ ]:
import random

In [ ]:
random.random()

0.8227587208566474

In [ ]:
random.randint(1,5)

4

In [ ]:
data = """
강준우
권희수
김동호
김미란
김종선
김주희
김창희
김효은
서현기
송민호
신철희
유상곤
이기원
이상진
이승원
이승준
이종현
임승빈
장고운
전광현
조재환
최강현
최정인
최진무
허지우
"""
None

In [ ]:
result = data.split()
random.shuffle(result)

result[:5]

['이기원', '김주희', '이승원', '허지우', '이종현']