<a href="https://colab.research.google.com/github/jh981117/Study_Python/blob/main/081_lambda%2C_map%2C_filter%2C_reduce_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
def square(x):
  return x ** 2

In [73]:
type(square)

function

In [74]:
square(3)

9

In [75]:
q1 = square

In [76]:
q1(10)

100

## 람다 (lambda)
'이름이 없는(익명)' inline 함수 정의

구문: `lambda [parameters]: expression`

In [77]:
lambda x: x ** 2

In [78]:
lambda : print('hello')

In [79]:
lambda x, y: x + y

In [80]:
add = lambda x, y: x + y

In [81]:
add(11, 22)

33

In [82]:
(lambda x, y: x * y)(4, 2)

8

In [83]:
# 파이썬의 람다식은 여러문장 작성 불가!
# func1 = lambda name, age:
#         print(name)
#         print(age)

In [84]:
# map(), filter(), reduce() 등에서 lambda 활용 많이 함.

# map: N -> N  (N개의 입력을 받아 '어떠한 동작을' 적용하여 N개의 결괏값을 생성)
# filter: N -> N' (N' <= N)
# reduce: N -> 1

# map()  N개 => N

In [85]:
# '집합데이터' 에 ~~한 동작/연산을 수행/적용하는 함수' 를 세트로 주어
# 일괄 처리 할수 있다
# 파이썬에는 이와 같은 일을 처리하는 함수가 있다.
# 바로 map() 이다

# 구문
#  map(함수, iterable 데이터)     #<-- 이때 data 는 iterable 해야 한다

#  map() 결과 리턴값은 'map객체' 이고 이 또한 iterable 하다!

In [86]:
square(2)

4

In [87]:
list(map(square, [1, 2, 3]))

[1, 4, 9]

In [88]:
"Hello Python".upper()

'HELLO PYTHON'

In [89]:
str.upper("Hello Python")

'HELLO PYTHON'

In [90]:
str.upper

In [91]:
list(map(str.upper, "apple"))

['A', 'P', 'P', 'L', 'E']

In [92]:
list(map(lambda x: x ** 2, [10, 20, 30]))

[100, 400, 900]

In [93]:
# 도전
# CSV 파일 데이터의 형태에서
data = """height,weight,label
140,45,normal
145,72,fat
150,61,fat
137,56,fat
192,48,thin
175,77,fat"""  # <-- excel 에서 확인 가능하다!
print(data)


# 아래와 같은 리스트로 만들기
# [[140.0, 45.0, 'normal'],
#  [145.0, 72.0, 'fat'],
#  [150.0, 61.0, 'fat'],
#  [137.0, 56.0, 'fat'],
#  [192.0, 48.0, 'thin'],
#  [175.0, 77.0, 'fat']]

height,weight,label
140,45,normal
145,72,fat
150,61,fat
137,56,fat
192,48,thin
175,77,fat

In [94]:
# 과정 hint
# 1. line 별로 쪼개기 (split 사용)
# 2. 각 line 을 ',' 로 쪼개기  (split 사용)
# 3. 각 데이터는, '숫자'면 float로 변환, 아니면 그대로
#                 isdigit() 사용.

# map() 을 사용해서 가능할까?

In [95]:
lines = data.split("\n")
tonum = lambda n : float(n) if n.isdigit() else n
cols = lambda line : list(map(tonum, line.strip().split(',')))
list(map(cols, lines))[1:]

[[140.0, 45.0, 'normal'],
 [145.0, 72.0, 'fat'],
 [150.0, 61.0, 'fat'],
 [137.0, 56.0, 'fat'],
 [192.0, 48.0, 'thin'],
 [175.0, 77.0, 'fat']]

# filter() : N => N'  (N' <= N)

In [96]:
# 구문 : filter(function, iterable)

# filter에 인자로 사용되는 function은 처리되는 각각의 요소에 대해 참/거짓 값을 반환합니다.
# '참'을 반환하면 그 요소는 남게 되고, '거짓'을 반환하면 그 요소는 제거 됩니다

# filter() 결과는 filter 객체  (이또한 iterable 하다)

In [97]:
filter(lambda x: x % 3 == 0, [3, 7, 9])

In [98]:
list(filter(lambda x: x % 3 == 0, [3, 7, 9]))

[3, 9]

In [99]:
dataset = [1, -2, 3, -4, 5]

# 양수인 숫자들을 제곱한 결과 => [1, 9, 25]

In [100]:
filter(lambda x: x > 0, dataset)  # [1, 3, 5]

In [101]:
list(map(lambda x: x ** 2, filter(lambda x: x > 0, dataset)))

[1, 9, 25]

In [102]:
[x ** 2 for x in dataset if x > 0]  # comprehension 으로 만들기

[1, 9, 25]

# reduce() 함수  N개 => 1개

In [103]:
from functools import reduce

In [104]:
# 구문
# functools.reduce(function, iterable[, initializer])


# function 을 사용해서 iterable을  집계연산을 통해 '하나의 값'을 리턴한다.
# 위 function 은 두개의 매개변수를 받아서 하나의 값을 리턴해야 한다.
# initializer 는 주어지면 첫 번째 인자로서 추가됩니다

In [105]:
reduce(lambda x, y: x + y, [1, 2, 3, 4, 5])

15

In [106]:
# initializer 활용

In [107]:
# [1, 2, 3] ==> [1, 4, 9]  <- 관점에 따라서 이는 1개짜리 데이터 (list 한개)

In [108]:
def func(a, b):
  print((a, b))   # 중간단계
  a.append(b ** 2)
  return a

reduce(func, [1, 2, 3], [])   # 초깃값 []

([], 1)
([1], 2)
([1, 4], 3)

[1, 4, 9]

In [109]:
#   []   | [1,   2,   3]
#     ↓    ↓
# func([], 1)
#       ↓
#      [1]    2     3
#         ↓   ↓
#    func([1], 2)
#           ↓
#        [1, 4]    3
#            ↓     ↓
#      func([1, 4], 3)
#                ↓
#            [1, 4, 9]

In [110]:
# lambda 로 가능할까?
# reduce(lambda a, b: a.append(b ** 2), [1, 2, 3], [])  # 에러 .  append() 의 리턴값은 None

# reduce(lambda a, b: a + [b ** 2], [1, 2, 3], [])  # 가능은 하나, 성능 나쁨. + 연산마다 새로운 list 생성

# 파이썬 에서 많이 사용하는 기법, SCE 사용
reduce(lambda a, b: a.append(b ** 2) or a, [1, 2, 3], [])

[1, 4, 9]

In [111]:
# 아이템 개수 구하기

dataset = ["dog", "dog", "dog", "cat", "cat", "bird"]

# 개수구하기 결과 =>  {'dog': 3, 'cat': 2, 'bird': 1}

In [112]:
# 방법1: for 사용

def count_element(elements):
  result = {}
  for element in elements:
    v = result.get(element)
    if v:
      result[element] += 1
    else:
      result[element] = 1

  return result

count_element(dataset)

{'dog': 3, 'cat': 2, 'bird': 1}

In [113]:
def count_element(elements):
  result = {}
  for element in elements:
    result[element] = result.get(element, 0) + 1

  return result

count_element(dataset)

{'dog': 3, 'cat': 2, 'bird': 1}

In [114]:
# 방법2 : reduce 사용

In [115]:
def inner_func(result, element):
  result[element] = result.get(element, 0) + 1
  return result

reduce(inner_func, dataset, {})

{'dog': 3, 'cat': 2, 'bird': 1}

In [116]:
reduce(
    lambda r, e: r.update({e: r.get(e, 0) + 1}) or r,
    dataset,  # ["dog", "dog", "dog", "cat", "cat", "bird"]
    {}  # initializer
)

{'dog': 3, 'cat': 2, 'bird': 1}

In [117]:
"""
  {} | ["dog", "dog", "dog", "cat", "cat", "bird"]
     ↘   ↓
    {'dog':1} | ["dog", "dog", "cat", "cat", "bird"]
           ↘   ↓
           {'dog':2} | ["dog", "cat", "cat", "bird"]
                   ↘   ↓
                 {'dog':3} | ["cat", "cat", "bird"]
                        ↘   ↓
                  {'dog':3, 'cat':1} | ["cat", "bird"]
                                    ↘   ↓
                          {'dog':3, 'cat':2} | ["bird"]
                                            ↘   ↓
                               {'dog':3, 'cat':2, 'bird':1}
"""
None